@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html,
body {
  min-height: 100vh;

  position: relative;

  background-image: url(/assets/imgs/backgound.png);
  background-size: 100%;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  position: relative;
}

.sidebar {
  position: fixed;
  width: 210px;
  height: 100%;
  background-color: #000000;
  padding: 30px 25px;
  opacity: 0.7;
}

.sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul li {
  padding: 15px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 255, 255, 0.05); */
}

.sidebar ul li a {
  color: #ffffff;
  display: block;
}

.sidebar ul li a i {
  width: 25px;
}

/* catalogo  */

/* stardew valley */

.corpo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
}

.menu {
  width: 300px;
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.titulo2 {
  /* Cor de fundo (preto com 10% de transparência) */
  padding: 0px;
  border-style: none;
  text-align-last: center;
  text-decoration: none;
}

.titulo2 p {
  color: #fff !important;
}

.linha {
  height: 520px;
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.imgC1 img {
  width: 350px;
  height: 300px;
  border-radius: 10%;
}

.imgC1 {
  flex-direction: column;
  align-items: center;
}

.conteiner {
  width: 100%;
  margin-top: 100px;
}

/* CATEGORIA */

.imgCC1 img {
  width: 350px;
  height: 300px;
  border-radius: 10%;
}

.imgCC1 {
  flex-direction: column;
  align-items: center;
}

.conteiner2 {
  width: 100%;
  margin-top: 20px;
}

/* RPG */

.imgC1 img {
  width: 350px;
  height: 300px;
  border-radius: 10%;
}

.imgC1 {
  display: flex;
  border-radius: 10%;
  width: 350px;
  height: 247px;
  background-image: url("/assets/imgs/img\ categoria/RPG.png");
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  background-repeat: no-repeat, no-repeat;
  background-size: 350px 300px;
}

.imgC1 h3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff !important;
  margin-top: -160px;
  margin-left: -50px;
  position: absolute;
  font-size: 350%;
}

/* AVENTURA */

.imgC3 {
  display: flex;
  border-radius: 10%;
  width: 350px;
  height: 247px;
  background-image: url("/assets/imgs/img\ categoria/aventura.png");
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  background-repeat: no-repeat, no-repeat;
  background-size: 350px 300px;
}

.imgC3 h3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff !important;
  margin-top: -160px;
  margin-left: 27px;
  position: absolute;
  font-size: 350%;
}

/* SIMULADOR */

.imgC4 {
  display: flex;
  border-radius: 10%;
  width: 350px;
  height: 247px;
  background-image: url("/assets/imgs/img\ categoria/simulador.jpg");
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  background-repeat: no-repeat, no-repeat;
  background-size: 350px 300px;
}

.imgC4 h3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff !important;
  margin-top: -160px;
  margin-left: 10px;
  position: absolute;
  font-size: 350%;
}

/* TIRO */

.imgC5 {
  display: flex;
  border-radius: 10%;
  width: 350px;
  height: 247px;
  background-image: url("/assets/imgs/img\ categoria/tiro.png");
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  background-repeat: no-repeat, no-repeat;
  background-size: 350px 300px;
}

.imgC5 h3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff !important;
  margin-top: -160px;
  margin-left: 110px;
  position: absolute;
  font-size: 350%;
}

/* TERROR */

.imgC6 {
  display: flex;
  border-radius: 10%;
  width: 350px;
  height: 247px;
  background-image: url("/assets/imgs/img\ categoria/terror.jpg");
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  background-repeat: no-repeat, no-repeat;
  background-size: 350px 300px;
}

.imgC6 h3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff !important;
  margin-top: -160px;
  margin-left: 70px;
  position: absolute;
  font-size: 350%;
}
